# Reference
references/utils
references/serpent/serpent-algorithm
references/pbkdf2/whirlpool/WhirlpoolHashEngine/
/references/serpent/Serpent-Implementation
/references/spec/img
/references/spec/diagram

# Test
test/veracrypt_volume

# Quartus
quartus/workspace

#M
master/spec/img/
master/spec/diagram/*.*
!master/spec/diagram/*.drawio

/ise/pbkdf2-hmac-whirlpool
/ise/serpent
/ise/serpent2
/ise/passwordgen
/ise/xts-serpent